In [1]:
import os
import csv
import pandas as pd

InputFile = 'CITES_Results1617_JRE.csv'
ImporterFile = 'Top10ImpByTrans_JRE.csv'
ExporterFile = 'Top10ExpByTrans_JRE.csv'
ImpQtyFile = 'Top10ImpByQuantity_JRE.csv'
ExpQtyFile = 'Top10ExpByQuantity_JRE.csv'

In [2]:
csvpath = os.path.join(InputFile)
input_df = pd.read_csv(csvpath)
print(input_df.columns.get_values())
input_df.head(1)

['Year' 'App.' 'Taxon' 'Class' 'Order' 'Family' 'Genus' 'Importer'
 'Exporter' 'Origin' 'Importer reported quantity'
 'Exporter reported quantity' 'Term' 'Unit' 'Purpose' 'Source'
 'Purpose Description' 'Source Description' 'Importer Country Name'
 'Exporter Country Name']

,Year,App.,Taxon,Class,Order,Family,Genus,Importer,Exporter,Origin,Importer reported quantity,Exporter reported quantity,Term,Unit,Purpose,Source,Purpose Description,Source Description,Importer Country Name,Exporter Country Name
0,2016,I,Aquila heliaca,Aves,Falconiformes,Accipitridae,Aquila,TR,NL,CZ,NaN,1.0,bodies,NaN,T,C,Commercial,Animals bred in captivity in accordance with R...,Turkey,Netherlands

In [3]:
# Group by Importing country
# Using GroupBy in order to summarize the data by 'Importer Country Name' values
GrpdByImporterData = input_df.groupby(['Importer Country Name'])

# Transaction count
ImportTransactionCount = input_df['Importer Country Name'].value_counts()

# Construct the output table
# In order to be visualized, a data function must be used...
TopImporter_df = pd.DataFrame({'Transaction Count': ImportTransactionCount})
# convert the index into a column
TopImporter_df.sort_values("Transaction Count", inplace=True, ascending=False)
TopImporter_df.reset_index(inplace=True)
TopImporter_df = TopImporter_df.rename(columns = {'index' : 'Import Country'})
TopImporter_df.to_csv(ImporterFile, encoding='utf-8', index=False)
TopImporter_df.head(3)

             Import Country  Transaction Count
0  United States of America               9670
1                     Japan               5083
2                   Germany               4920

In [4]:
# Group by Exporting Countries
# Using GroupBy in order to summarize the data by 'Importer Country Name' values
GrpdByExporterData = input_df.groupby(['Exporter Country Name'])

# Transaction count
ExportTransactionCount = input_df['Exporter Country Name'].value_counts()

# Construct the output table
# In order to be visualized, a data function must be used...
TopExporter_df = pd.DataFrame({'Transaction Count': ExportTransactionCount})
# convert the index into a column
TopExporter_df.sort_values("Transaction Count", inplace=True, ascending=False)
TopExporter_df.reset_index(inplace=True)
TopExporter_df = TopExporter_df.rename(columns = {'index' : 'Export Country'})
TopExporter_df.to_csv(ExporterFile, encoding='utf-8', index=False)
TopExporter_df.head(3)

             Export Country  Transaction Count
0                 Indonesia               6492
1                     Italy               5011
2  United States of America               4463

In [5]:
# Top Importer by Importer reported quantities

# Using GroupBy in order to summarize the data by 'Importer Country Name' values
GrpdByImpQtyData = input_df.groupby(['Importer Country Name'])

# Transaction count
ImportTransCount = input_df['Importer Country Name'].value_counts()
ImportRptdQuantity = GrpdByImpQtyData['Importer reported quantity'].sum()
# Construct the output table
# In order to be visualized, a data function must be used...
TopImpQty_df = pd.DataFrame({'Transaction Count': ImportTransCount,
                            'Quantity Imported': ImportRptdQuantity })

# sort and convert the index into a column
TopImpQty_df.sort_values("Quantity Imported", inplace=True, ascending=False)
TopImpQty_df.reset_index(inplace=True)
TopImpQty_df = TopImpQty_df.rename(columns = {'index' : 'Import Country'})
TopImpQty_df.to_csv(ImpQtyFile, encoding='utf-8', index=False)
TopImpQty_df.head(3)

             Import Country  Quantity Imported  Transaction Count
0  United States of America       4.381216e+07               9670
1               Netherlands       2.249623e+07                742
2                     Japan       1.853225e+07               5083

In [6]:
# Top Importer by Exporter reported quantities

# Using GroupBy in order to summarize the data by 'Importer Country Name' values
GrpdByExpQtyData = input_df.groupby(['Exporter Country Name'])

# Transaction count
ExportTransCount = input_df['Exporter Country Name'].value_counts()
ExportRptdQuantity = GrpdByExpQtyData['Exporter reported quantity'].sum()
# Construct the output table
# In order to be visualized, a data function must be used...
TopExpQty_df = pd.DataFrame({'Transaction Count': ExportTransCount,
                            'Quantity Exported': ExportRptdQuantity })

# convert the index into a column
TopExpQty_df.sort_values("Quantity Exported", inplace=True, ascending=False)
TopExpQty_df.reset_index(inplace=True)
TopExpQty_df = TopExpQty_df.rename(columns = {'index' : 'Export Country'})
TopExpQty_df.to_csv(ExpQtyFile, encoding='utf-8', index=False)
TopExpQty_df.head(3)

  Export Country  Quantity Exported  Transaction Count
0          China       6.667370e+07               1491
1         Turkey       2.755784e+07                229
2        Georgia       1.807480e+07                 25